/**
 * @app VuonDau
 * @author phutruongck
 */

@import '../../../assets/css/global.scss';

.react__hook__form__input {
  flex-direction: column;
  display: flex;
}

.react__hook__form__label {
  font-family: $font-family;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
}

.react__hook__form__label__required {
  font-family: $font-family;
  color: $error-color;
  font-weight: 700;
}
