/**
 * @app VuonDau
 * @author phutruongck
 */

@import '../../../../assets/css/global.scss';

.teacher__create__class__container {
  flex-direction: column;
  padding: 16px;
  display: flex;
  margin: 0 30%;
}

.course__subject__container {
  overflow: hidden;
  margin-top: 20px;
  display: flex;
}
