/**
 * @app VuonDau
 * @author phutruongck
 */

@import '../../../../../assets/css/global.scss';

a.time__table__class__item__container {
  text-decoration: none;
  color: #1a1d24;
}

.time__table__class__item__container {
  flex-direction: column;
  max-width: 300px;
  cursor: pointer;
  display: flex;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.class__scroll__container {
  overflow: hidden;
  display: flex;
  flex: 1;
}

.class__container .react-horizontal-scrolling-menu--inner-wrapper {
  display: flex;
}

.class__scroll__item {
  overflow-x: hidden;
  padding: 10px;
}

.time__table__class__item__container.selected {
  border: 1px solid #ff5e57;
}

.class__scroll__container {
  .react-horizontal-scrolling-menu--arrow-left,
  .react-horizontal-scrolling-menu--arrow-right {
    padding-top: 50px;
  }
}

.time__table__class__item__detail__container {
  justify-content: space-between;
  flex-direction: column;
  background: #fff;
  padding: 10px;
  display: flex;
}

.time__table__class__item__information__container {
  flex-direction: column;
  display: flex;
}

.time__table__class__item__name {
  -webkit-box-orient: vertical;
  font-family: $font-family;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin-bottom: 10px;
  font-weight: bold;
  overflow: hidden;
  color: #1a1d24;
  font-size: 20px;
}

.time__table__class__item__author {
  -webkit-box-orient: vertical;
  font-family: $font-family;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  font-weight: 500;
  overflow: hidden;
  margin-top: 5px;
  font-size: 14px;
  color: #1a1d24;
}

.time__table__class__item__subject__container {
  display: flex;
}

.time__table__class__item__subject__heading {
  font-family: $font-family;
  background: #9b59b6;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  color: #fff;
  padding: 5px;
}

.class__scroll__item .react-horizontal-scrolling-menu--item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.time__table__class__item {
  width: 300px;
}

.time__table__class__item__dateTime {
  flex-direction: column;
  display: flex;
}

.time__table__class__item__dateTime__heading {
  font-family: $font-family;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}

.time__table__class__item__number__student {
  font-family: $font-family;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
