/**
 * @app VuonDau
 * @author phutruongck
 */

@import '../../../../assets/css/global.scss';

.teacher__create__time__table__page__container {
  justify-content: center;
  flex-direction: column;
  margin: 30px 30%;
  display: flex;
}

.time__table__scroll__section {
  margin-top: 10px;
  display: flex;
  flex: 1;
}

.time__table__scroll__wrapper {
  overflow: hidden;
  display: flex;
  flex: 1;
}

.time__table__scroll__container {
  overflow-x: hidden;
}

.time__table__scroll__container .react-horizontal-scrolling-menu--item {
  margin-right: 10px;
}

.time__table__scroll__arrow {
  padding-top: 65px;
}

.teacher__list__content {
  margin-top: 10px;
}

.teacher__list__heading {
  font-family: $font-family;
  font-weight: 600;
  font-size: 14px;
}
