/**
 * @app VuonDau
 * @author phutruongck
 */

@import '../../../assets/css/global.scss';

.home__page__container {
  flex-direction: column;
  display: flex;
}

.all__course__section {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  display: flex;
}

.all__course__container {
  flex-direction: column;
  max-width: 1500px;
  display: flex;
}

.all__course__heading {
  font-family: $font-family;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.all__course__scroll__container {
  overflow: hidden;
  display: flex;
  flex: 1;
}

.all__course__scroll__container
  .react-horizontal-scrolling-menu--inner-wrapper {
  display: flex;
}

.all__course__scroll__item {
  overflow-x: hidden;
}

.all__course__scroll__item .react-horizontal-scrolling-menu--item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.react-horizontal-scrolling-menu--arrow-left,
.react-horizontal-scrolling-menu--arrow-right {
  padding-top: 120px;
}

.home__course__item {
  width: 300px;
}
