.student__side__nav {
  display: flex;
}

.student__side__nav__bar {
  align-items: center;
  display: flex;
  flex: 1;
}

.student__side__nav__bar__left {
  justify-content: flex-start;
  display: flex;
  flex: 1;
}

.student__side__nav__bar__center {
  justify-content: center;
  display: flex;
  flex: 1;
}

.student__side__nav__bar__right {
  justify-content: flex-end;
  display: flex;
  flex: 1;
}
