/**
 * @app VuonDau
 * @author phutruongck
 */

@import '../../../../assets/css/global.scss';

.course__detail__section {
  flex-direction: column;
  display: flex;
}

.course__detail__summary {
  flex-direction: column;
  background: #1a1d24;
  display: flex;
}

.course__detail__wrapper {
  margin-right: 100px;
  padding: 20px 20%;
  display: flex;
}

.course__detail__container {
  position: relative;
  display: flex;
  width: 100%;
}

.course__detail__information__container {
  flex-direction: column;
  display: flex;
}

.course__detail__heading {
  font-family: $font-family;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.course__detail__summary__description {
  -webkit-box-orient: vertical;
  font-family: $font-family;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  font-weight: 500;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
}

.course__detail__author {
  font-family: $font-family;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.course__detail__subject__container {
  display: flex;
}

.course__detail__subject__heading {
  font-family: $font-family;
  background: #9b59b6;
  border-radius: 4px;
  user-select: none;
  font-weight: 700;
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  color: #fff;
  padding: 5px;
}

.course__detail__cart {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  box-sizing: border-box;
  flex-direction: column;
  background: #fff;
  max-width: 252px;
  position: fixed;
  display: flex;
  right: 100px;
  z-index: 1;
  top: 100px;
}

.course__detail__thumbnail {
  display: flex;
  padding: 1px;
}

.course__detail__thumbnail img {
  width: 250px;
}

.course__detail__cart__container {
  border-bottom: 1px solid #d1d7dc;
  flex-direction: column;
  padding: 20px 16px;
  display: flex;
}

.course__detail__price__container {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.course__detail__price {
  font-family: $font-family;
  color: #1a1d24;
  font-weight: 700;
  font-size: 25px;
}

.course__detail__price__discount {
  text-decoration: line-through;
  font-family: $font-family;
  margin-left: 10px;
  color: #1a1d24;
  font-weight: 500;
  font-size: 14px;
}

.course__detail__button {
  flex-direction: column;
  margin-top: 20px;
  display: flex;
}

.course__detail__add__to__cart,
.course__detail__add__to__cart__outline {
  background-color: #34495e;
  font-family: $font-family;
  -webkit-user-select: none;
  justify-content: center;
  vertical-align: bottom;
  align-items: center;
  white-space: nowrap;
  position: relative;
  padding: 0 1.2rem;
  user-select: none;
  font-weight: 600;
  cursor: pointer;
  min-width: 8rem;
  color: #fff;
  display: flex;
  padding: 10px;
  border: none;
}

.course__detail__add__to__cart:hover {
  background: #1a1d24;
}

.course__detail__add__to__cart__outline {
  border: 1px solid #34495e;
  background: transparent;
  margin-top: 10px;
  color: #34495e;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

.course__detail__cart__description {
  display: flex;
  padding: 16px;
}

.course__detail__description {
  flex-direction: column;
  margin-right: 100px;
  padding: 20px 20%;
  display: flex;
}

.course__detail__description__wrapper {
  border: 1px solid #d1d7dc;
  flex-direction: column;
  padding: 30px 16px;
  border-radius: 4px;
  display: flex;
}

.course__detail__description__title {
  font-family: $font-family;
  color: #1a1d24;
  font-weight: 600;
  font-size: 24px;
}

.course__detail__description__heading {
  font-family: $font-family;
  color: #1a1d24;
  font-weight: 500;
  margin-top: 10px;
  font-size: 14px;
}

.course__detail__lesson__container,
.course__detail__class__container {
  flex-direction: column;
  margin-right: 100px;
  padding: 20px 20%;
  display: flex;
}

.course__detail__lesson__heading,
.course__detail__class__heading {
  font-family: $font-family;
  margin-bottom: 10px;
  color: #1a1d24;
  font-weight: 600;
  font-size: 30px;
}

.rs-panel-title span {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
}

.rs-panel {
  border-radius: 0;
  border-bottom: none;
}

.rs-panel-bordered:last-child {
  border-bottom: 1px solid #e5e5ea !important;
}

a.teacher__link {
  color: #cec0fc;
}

.course__detail__lesson__content,
.course__detail__class__content {
  flex-direction: column;
  display: flex;
}

.lesson__item__container {
  align-items: center;
  flex-direction: row;
  display: flex;
}

.lesson__item__heading {
  font-family: $font-family;
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
}

.course__detail__class__scroll__item {
  overflow-x: hidden;
  padding: 10px;
}

.course__detail__class__scroll__container {
  .react-horizontal-scrolling-menu--arrow-left,
  .react-horizontal-scrolling-menu--arrow-right {
    padding-top: 60px;
  }
}

.course__detail__class__scroll__item .react-horizontal-scrolling-menu--item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}
